<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>Controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCiudad</servlet-name>
        <servlet-class>Controlador.ControladorCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBus</servlet-name>
        <servlet-class>Controlador.ControladorBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataServlet</servlet-name>
        <servlet-class>Controlador.ChartDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>Controlador.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCiudad</servlet-name>
        <url-pattern>/ControladorCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBus</servlet-name>
        <url-pattern>/ControladorBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataServlet</servlet-name>
        <url-pattern>/ChartDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/PasswordRecoveryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
